header{
  width: 100%;
  background: #fff;
  height: 80px;
  .header-container{
    width: 80%;
    height: 80px;
    box-sizing: border-box;
    padding: 15px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
      width: 100px;
      img{
        width: 100%;
        height: auto;
      }
    }
    nav.nav{
      width: calc(100% - 200px);
      &.active{
        ul{
          -webkit-transform: scaleX(1);
          -moz-transform: scaleX(1);
          -ms-transform: scaleX(1);
          -o-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
      ul{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        transition: all .3s;
        @media(max-width: 780px){
          position: absolute;
          top: 80px;
          left: 0;
          width: 100vw;
          height: calc(100vh - 80px);
          flex-direction: column;
          justify-content: center;
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          -ms-transform: scaleX(0);
          -o-transform: scaleX(0);
          transform: scaleX(0);
          transform-origin: right;
          background: #fff;
          z-index: 99;
        }
        li{
          margin-left: calculateWidth(80);
          @media(max-width: 780px){
            margin-bottom: 25px;
          }
          a{
            @include Raleway(300);
            font-size: calculateWidth(18);
            color: $dimgray;
            @media(max-width: 780px){
              font-size: tabletWidth(24);
            }
            @media(max-width: 500px){
              font-size: 24px;
            }
            &:hover,
            &.active{
              color: #000;
            }
          }
        }
      }
    }
  }
}
