.portfolio{
  width: 100%;
  main{
    padding: 50px 5%;
    .portfolio__container{
      width: 100%;
      ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        @media(max-width: 780px){
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 820px) and (orientation: landscape){
          grid-template-columns: 1fr;
        }
        @media(max-width: 500px){
          grid-template-columns: 1fr;
        }
        li{
          width: 400px;
          height: 400px;
          overflow: hidden;
          position: relative;
          margin: 0 auto;
          @media screen and (max-width: 1024px){
            width: 250px;
            height: 250px;
          }
          @media(max-width: 780px){
            width: 300px;
            height: 300px;
          }
          @media screen and (max-width: 1024px) and (orientation: landscape){
            width: 250px;
            height: 250px;
          }
          @media(max-width: 500px){
            width: 250px;
            height: 250px;
          }
          &:hover .overlay{
            -webkit-transform: scaleY(1);
            -moz-transform: scaleY(1);
            -ms-transform: scaleY(1);
            -o-transform: scaleY(1);
            transform: scaleY(1);
          }
          .info{
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background: rgba(0,0,0,.5);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 999;
            &.active{
              display: flex;
            }
            .container{
              width: 70%;
              height: 90%;
              background: #fff;
              position: relative;
              box-sizing: border-box;
              overflow-y: scroll;
              .close{
                position: absolute;
                top: 12px;
                right: 12px;
                cursor: pointer;
                @include Roboto(bold);
                font-size: 24px;
              }
              img{
                width: 100%;
                height: auto;
              }
              h4{
                width: 80%;
                margin: 20px auto;
                @include Raleway(bold);
                font-size: 36px;
              }
              p{
                width: 80%;
                margin: 0px auto 20px;
                @include Roboto(500);
                font-size: 18px;
              }
            }
          }
          .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            -webkit-transform: scaleY(0);
            -moz-transform: scaleY(0);
            -ms-transform: scaleY(0);
            -o-transform: scaleY(0);
            transform: scaleY(0);
            transform-origin: top;
            transition: all .3s;
            h4{
              @include Roboto(600);
              font-size: 20px;
              color: #fff;
              margin-bottom: 15px;
              text-transform: uppercase;
            }
            p{
              @include Raleway(300);
              font-size: 18px;
              color: #fff;
            }
            a{
              @include Raleway(300);
              font-size: 18px;
              color: #fff;
              margin-top: 15px;
              text-transform: uppercase;
              &:after{
                content: '';
                display: block;
                background: #fff;
                width: 100%;
                height: 1px;
                margin-top: 3px;
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
                transform: scaleX(0);
                transform-origin: left;
                transition: all .3s;
              }
              &:hover{
                &:after{
                  -webkit-transform: scaleX(1);
                  -moz-transform: scaleX(1);
                  -ms-transform: scaleX(1);
                  -o-transform: scaleX(1);
                  transform: scaleX(1);
                }
              }
            }
          }
          img{
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
}
